.firmFactsButton {
	background-color: var(--primary-color);
	border: 1px solid var(--primary-color);
	color: white;
	display: flex;
	align-items: center;
	padding: 12px 20px;
	border: none;
	border-radius: 70px;
	cursor: pointer;
	overflow: hidden;
	min-height: 70px;
	width: 100%;
	transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out, color 0.5s ease-in-out;

	svg {
		flex-shrink: 0;
		display: none;
		margin-right: 16px;
	}

	.text {
		overflow: hidden;
		margin: 0 auto;
		font-size: 1.9rem;
		line-height: 24px;
		font-weight: 600;
		text-align: left;
	}

	&.default {
		.text {
			white-space: nowrap;
			text-overflow: clip;
		}
	}

	&.icon {
		svg {
			display: block;
		}

		.text {
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			text-overflow: ellipsis;
		}
	}

	&:disabled {
		background-color: var(--gray-color);
		color: var(--light-color);
		cursor: default;
	}

	&:hover:not(:disabled),
	&.hovered:not(:disabled) {
		background-color: var(--accent-color);
		border: 1px solid var(--light-color);
		color: var(--light-color);
	}
}