.card {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--light-color);
	border: none;
	text-align: center;
	min-height: 322px;
	cursor: pointer;
	padding: 50px 25px;

	&.alignTop {
		align-items: start;
	}
	
	&.default {
		background-color: var(--light-color);

		&:hover {
			background-color: var(--accent-color);
		}
	}
  
	&.border {
		border: 15px solid var(--light-color);

		&:hover {
			border-color: var(--accent-color);
		}
	}
  }
  