.card {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	border: none;
	text-align: center;
	min-height: 322px;
	cursor: pointer;
	padding: 16px;
	
	&.default {
		background-color: white;

		&:hover {
			background-color: #07C06A;
		}
	}
  
	&.border {
		border: 15px solid white;

		&:hover {
			border-color: #07C06A;
		}
	}
  }
  