.card {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--light-color);
	border: 15px solid var(--light-color);
	text-align: center;
	min-height: 322px;
	cursor: pointer;
	padding: 35px 10px;
	transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out, color 0.5s ease-in-out;
	
	&.default {
		background-color: var(--light-color);

		&:hover {
			border-color: var(--accent-color);
			background-color: var(--accent-color);
		}
	}
  
	&.border {
		align-items: start;
		
		&:hover:not(.disabled) {
			border-color: var(--accent-color);
		}
	}

	&.disabled {
		cursor: default;
	}
  }
  