* {
	box-sizing: border-box;
}

:root{
	--primary-color: #2D3E4E;
	--accent-color: #07C06A;
	--light-color: white;
	--gray-color: #AAAAAA;
}

body {
	background-color: black;
	margin: 0;
	padding: 0;
	font-family: "Open Sans", Helvetica, Arial;
	font-size: 62.5%;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
