.firmFacts {
	background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23AAAAAAFF' stroke-width='2' stroke-dasharray='10' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
	background-color: var(--primary-color);
	position: relative;
	width: 100%;
	padding: 85px;

	h1 {
		font-size: 6rem;
		line-height: 66px;
		color: var(--light-color);
		margin: 0;
		margin-top: 42px;
		margin-bottom: 22px;
		font-weight: 400;
	}

	hr {
		border: none;
		height: 1px;
		background-color: var(--light-color);
		opacity: 20%;
		margin-bottom: 51px;
	}

	.btnClose {
		background: none;
		border: none;
		padding: 4px;
		margin: 0;
		position: absolute;
		top: 50px;
		right: 63px;
		cursor: pointer;
		color: var(--light-color);
	}

	.cardsContainer {
		display: grid;
		gap: 18px;
	}

	@media (width <= 768px) {
		.cardsContainer{
			grid-template-columns: minmax(0, 1fr);
		}
	}

	@media (width > 768px) {
		.cardsContainer {
			grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
			grid-template-rows: auto;

			.featured {
				grid-row: span 2;
			}
		}
	}
}